
.container {
    margin-top: 25px;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    body {
        line-height: 0.9;
    }
    .table {
        font-size: 0.7em;
    }
    .alert {
        font-size: 0.75em;
        padding: .7rem 1.2rem;
        margin: 0;
    }
    .alert-dismissible .close {
        padding: .45rem 0.3rem;
    }
    .close {
        font-size: 1rem;
    }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
    
}